.label-panel {
  border: .05rem solid #44905c;
  margin: 1rem;
  padding: 1rem;
  border-radius: .5rem;
}

.info-panel {
  border: .05rem solid #B7BDB9;
  margin: 1rem;
  padding: 1rem;
  border-radius: .5rem;
}

.cell-panel {
  border: .05rem solid #44905c;
  padding: 1rem 0;
  margin: 2rem 0;

  background-color: #f0f0f0;
}