.nav-list {
  text-align: center;
}
.contain {
  overflow-y: auto;
}
.nav {
  display: inline-block;
  vertical-align: middle;
  margin: 0 .25rem;
  padding: .5rem 1rem;
  text-overflow: ellipsis;
  transition: max-width ease-in-out 400ms;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  background-color: #eee;
  border: 1px solid #ccc;
  color: #333;
}